= content_for(:title, "Statuses")
= content_for(:extra, "The first item in this table is the default ticket status when a ticket is created")

.pure-u-1
 %p 
  = link_to image_tag("add_button.png", :alt => "Add Button", size: "32x32", class:"action_buttons"), new_status_path
 %p
  = link_to image_tag("archive_button.png", :alt => "Archive Button", size: "32x34", class:"archive_button"), deleted_statuses_path

 %table#statuses.pure-table.pure-table-bordered
  %thead
   %th  Edit
   %th  Delete
   %th  Name
  %tbody
  - @status.each do |status|
   %tr{:class => cycle('','pure-table-odd')}
    %td= link_to image_tag("edit_button.png", :alt => "Edit Button", size: "32x32", class:"table_button"), edit_status_path(status), :method => :get
    %td= link_to image_tag("delete_button.png", :alt => "Delete Button" , size: "32x32", class:"table_button"), status_path(status), :method => :delete
    %td= status.name
