= content_for(:title,"Edit User")
.pure-u-1
= form_tag users_path, :method => :post, :class => "pure-form pure-form-stacked" do
 = email_field :user, :email
 = label :user, :password,  'User Password'
 = password_field :user, :password, autofocus: true
 = label :user, :password_confirmation, 'Password Confirmation'
 = password_field :user, :password_confirmation
 = label :user, :admin, 'Admin'
 = check_box :user, :admin
 = label :user, :manager, 'Manager'
 = check_box :user, :manager
 = submit_tag 'Save Changes', :class => "pure-button pure-button-primary"
= link_to 'back to user list', users_path
