=content_for(:title,"Edit User")

.pure-u-1
= form_tag user_path(@user), :method => :put, :class => "pure-form pure-form-stacked" do
 = email_field :user, :email
 = label :user, :password,  'User Password'
 = password_field :user, :password, autofocus: true
 = label :user, :password_confirmation, 'Password Confirmation'
 = password_field :user, :password_confirmation
 = check_box :user, :admin do
  = label :user, :admin, 'Admin'
 Admin
 %br
 = check_box :user, :manager do
  = label :user, :manager, 'Manager'
 Manager
 %br
 %br
 = submit_tag 'Save Changes', :class => "pure-button pure-button-primary"

