= content_for(:title,"Create New User")
.pure-u-1
= form_tag users_path, :method => :post, :class => "pure-form pure-form-stacked" do
 = label :user, :email, 'User Email'
 = email_field :user, :email, autofocus: true
 = label :user, :password, 'User Password'
 = password_field :user, :password
 = label :user, :password_confirmation, 'Password Confirmation'
 = password_field :user, :password_confirmation
 = check_box :user, :admin do
  = label :user, :admin, 'Admin'
 Admin
 %br
 = check_box :user, :manager do
  = label :user, :manager, 'Manager'
 Manager
 %br
 %br
 = submit_tag 'Create User', :class => "pure-button pure-button-success"
