= content_for(:title, "Edit Ticket")
%p
=form_tag ticket_path(@ticket), :method => :put, :class => 'pure-form pure-form-stacked' do
 - if @ticket.errors.any?
  #error_explanation
   %h2
    The following prevented this Ticket from being submitted:
   %ul 
    - @ticket.errors.full_messages.each do |msg|
     %li= msg
  
 %fieldset
  .pure-g
   %div.pure-u-md-1-2.pure-u-1.newticket
    = label :ticket, :requestor, 'Ticket Requestor' 
    = text_field :ticket, :requestor 
   %div.pure-u-md-1-2.pure-u-1.newticket
    = label :ticket, :phone, 'Phone Number' 
    = telephone_field :ticket, :phone
   %div.pure-u-md-1-2.pure-u-1.newticket
    = label :ticket, :ru, 'Ticket RU'
    = text_field :ticket, :ru 
   %div.pure-u-md-1-2.pure-u-1.newticket
    = label :ticket, :email, 'Email'
    = email_field :ticket, :email
   %div.pure-u-md-1-2.pure-u-1.newticket
    = label :ticket, :room, 'Room'
    = text_field :ticket, :room
   %div.pure-u-md-1-2.pure-u-1.newticket
    = label :ticket, :location_id, 'Location'
    = collection_select(:ticket, :location_id, Location.all, :id, :name)
   %div.pure-u-md-1-2.pure-u-1.newticket
    = label :ticket, :category_id, 'Ticket Category'
    = collection_select(:ticket, :category_id, Category.all, :id, :name)
   %div.pure-u-md-1-2.pure-u-1.newticket
    = label :ticket, :status_id, 'Ticket Status'
    = collection_select(:ticket, :status_id, Status.all, :id, :name)
   %div.pure-u-md-3-4.pure-u-1.newticket
    = label :ticket, :subject, 'Subject*'
    = text_area :ticket, :subject, :cols => "100", :rows => "1"
   %div.pure-u-md-3-4.pure-u-1.newticket
    = label :ticket, :description, 'Description'
    = text_area :ticket, :description, :cols => "100", :rows => "10"
   %div.pure-u-1.newticket
    Ticket submitted
    = @ticket.created_at.in_time_zone('Central Time (US & Canada)')
   %div.pure-u-md-3-4.pure-u-1.newticket
    = submit_tag 'Save Changes', :class => "pure-button pure-button-primary"