<h1>Tickets#edit</h1>
<p>Find me in app/views/tickets/edit.html.erb</p>
%h2 edit Ticket
= form_tag ticket_path(@ticket), :method => :put do
 %div.pure-u-md-1-2.pure-u-1.newticket
  .modal-body
   = label :ticket, :requestor, 'Ticket Requestor' 
  .modal-body
   = text_field :ticket, :requestor 
 %div.pure-u-md-1-2.pure-u-1.newticket
  .modal-body
   = label :ticket, :phone, 'Phone Number' 
  .modal-body
   = text_field :ticket, :phone
 %div.pure-u-md-1-2.pure-u-1.newticket
  .modal-body
   = label :ticket, :ru, 'Ticket RU'
  .modal-body
   = text_field :ticket, :ru 
 %div.pure-u-md-1-2.pure-u-1.newticket
  .modal-body
   = label :ticket, :email, 'Email'
  .modal-body
   = text_field :ticket, :email
 %div.pure-u-md-1-2.pure-u-1.newticket
  .modal-body
   = label :ticket, :room, 'Room'
  .modal-body
   = text_field :ticket, :room
 %div.pure-u-md-1-2.pure-u-1.newticket
  .modal-body
   = label :ticket, :subject, 'Subject'
  .modal-body
   = text_field :ticket, :subject
 %div.pure-u-md-1-2.pure-u-1.newticket
  .modal-body
   = label :ticket, :location_id, 'Location'
  .modal-body
   = collection_select(:ticket, :location_id, Location.all, :id, :name)
 %div.pure-u-md-1-2.pure-u-1.newticket
  .modal-body
   = label :ticket, :ticket_category_id, 'Ticket Category'
  .modal-body
   = collection_select(:ticket, :ticket_category_id, Category.all, :id, :name)
 %div.pure-u-md-3-4.pure-u-1.newticket
  .modal-body
   = label :ticket, :description, 'Description'
  .modal-body
   = text_area :ticket, :description, :cols => "100", :rows => "10"
 .modal-body
 %div.pure-u-md-3-4.pure-u-1.newticket
  .modal-footer
   = submit_tag 'Save Changes'
= link_to 'back to ticket list', tickets_path