= content_for(:title, "Tickets")

-#Find me in app/views/tickets/index.html.erb

%span.details.table
.logs.pagination
 =will_paginate
%table#tickets.pure-table.pure-table-bordered
 %thead
  %th  View
  %th  Edit
  %th  Delete
  %th  Status
  %th  ID
  %th  Subject
  %th  Requestor
  %th  Phone
  %th  RU
  %th  Email
  %th  Room
  %th  Description
  %th  Location
  %th  Category
  
 %tbody
 - @tickets.each do |ticket|
  %tr{:class => cycle('','pure-table-odd')}
   %td= "view button"
   %td= link_to 'Edit Info', edit_ticket_path(ticket), :method => :get
   %td= link_to 'Delete', ticket_path(ticket), :method => :delete
   %td= Status.find(ticket.status_id).name
   %td= ticket.id
   %td= ticket.subject
   %td= ticket.requestor
   %td= ticket.phone
   %td= ticket.ru
   %td= ticket.email
   %td= ticket.room 
   %td= ticket.description
   %td= ticket.location_id
   %td= ticket.ticket_category_id
= link_to 'Create ticket', new_ticket_path
