= content_for(:title, "Tickets: #{@whichStatus}")

-#Find me in app/views/tickets/index.html.erb

.pure-u-1.span.details.table
 .logs.pagination
  =will_paginate

.pure-u-1
 Filter: 
 = link_to "All Except Closed", "/tickets", :class => "pure-button filter-button"
 = link_to "All Tickets", "/tickets?status=all", :class => "pure-button filter-button"
 - @statuses.each do |status|
  = link_to status.name, "/tickets?status=" + status.name, :class => "pure-button filter-button"


%p 
 = link_to image_tag("add_button.png", :alt => "Add Button", size: "32x32"), new_ticket_path 

.pure-u-1
 %table#tickets.pure-table.pure-table-bordered
  %thead
   %th{:class => "action_column"}  Actions
   %th{:class => "status_column"}  Status
   %th{:class => "subject_column"}  Subject
   %th{:class => "description_column"}  Description
   %th{:class => "category_column"}  Category
   %th{:class => "location_column"}  Location
   %th{:class => "submitted_column"} Submitted
   
  %tbody
  - @tickets.each do |ticket|
   %tr{:class => "#{cycle('','pure-table-odd')} row_ticket"}
    %td{:class => "action_column"}
     %span{:class => "action_buttons"}= link_to image_tag("view_button.png", :alt => "View Button", size: "32x32"), ticket_path(ticket), :method => :get
     %span{:class => "action_buttons"}= link_to image_tag("edit_button.png", :alt => "Edit Button", size: "32x32"), edit_ticket_path(ticket), :method => :get
     %span{:class => "action_buttons"}= link_to image_tag("delete_button.png", :alt => "Delete Button" , size: "32x32"), ticket_path(ticket), :method => :delete
    %td{:class => "status_column"}= Status.find(ticket.status_id).name
    %td{:class => "subject_column"}= ticket.subject
    %td{:class => "description_column"}= ticket.description
    %td{:class => "category_column"}= Category.find(ticket.category_id).name
    %td{:class => "location_column"}= Location.find(ticket.location_id).name
    %td{:class => "submitted_column"}= ticket.created_at
