= content_for(:title, "Ticket View")

.pure-u-1
 %table.pure-table.pure-table-bordered
  %tbody
   %tr{:class => "row_title"} 
    %td Requestor Info
    %td 
   %tr
    %td Name
    %td= @ticket.requestor
   %tr
    %td Phone
    %td= @ticket.phone
   %tr
    %td Email
    %td= @ticket.email
   %tr
    %td Room
    %td= @ticket.room  
   %tr{:class => "row_title"} 
    %td Ticket Info
    %td 
   %tr
    %td RU
    %td= @ticket.ru
   %tr
    %td Status
    %td= Status.with_deleted.find(@ticket.status_id).name
   %tr
    %td Category
    %td= Category.with_deleted.find(@ticket.category_id).name
   %tr
    %td Location
    %td= Location.with_deleted.find(@ticket.location_id).name
   %tr
    %td Time Submitted
    %td= @ticket.created_at
   %tr
    %td Subject
    %td= @ticket.subject
   %tr
    %td Description
    %td= @ticket.description

