= content_for(:title, "Ticket Summary for #{@year}")
.pure-u-1
 %br
 = form_tag summary_tickets_path, :method => :post, :class => "pure-form pure-form-stacked" do
  = label :data, :id , 'Year'
  = text_field :data, :id, placeholder: "#{@year}"
  = submit_tag 'Submit', :class => "pure-button pure-button-primary" 
 %table#ticketsummary.pure-table.pure-table-bordered
  %thead
   %th  Month
   %th  # Open
   %th  # Closed
  %tbody
  - @Ticket_stats.each do |stats|
   %tr{:class => cycle('','pure-table-odd')}
    %td= link_to "#{stats[0]}", monthSummary_tickets_path(:month => stats[3],:year =>@year)
    %td= stats[1]
    %td= stats[2]

