= content_for(:title, "Categories")

.pure-u-1
 %p 
  = link_to image_tag("add_button.png", :alt => "Add Button", size: "32x32", class:"action_buttons"), new_category_path
 %p
  = link_to image_tag("archive_button.png", :alt => "Archive Button", size: "32x34", class:"archive_button"), deleted_categories_path

 %table#categories.pure-table.pure-table-bordered
  %thead
   %th  Edit
   %th  Delete
   %th  Name
  %tbody
  - @categories.each do |category|
   %tr{:class => cycle('','pure-table-odd')}
    %td= link_to image_tag("edit_button.png", :alt => "Edit Button", size: "32x32", class:"table_button"), edit_category_path(category), :method => :get
    %td= link_to image_tag("delete_button.png", :alt => "Delete Button" , size: "32x32", class:"table_button"), category_path(category), :method => :delete
    %td= category.name
