<h1>Emails#edit</h1>
<p>Find me in app/views/emails/edit.html.erb</p>
%h2 edit Email
= form_tag email_path(@email), :method => :put do
 = label :email, :email_address, 'Email'
 = email_field :email, :email_address
 = submit_tag 'Save Changes'
= link_to 'back to email list', emails_path
