= content_for(:title, "Edit Email")

.pure-u-1
 = form_tag email_path(@email), :method => :put, :class => "pure-form pure-form-stacked" do
  = label :email, :email_address, 'Email'
  = email_field :email, :email_address
  = submit_tag 'Save Changes', :class => "pure-button pure-button-success"

