= content_for(:title, "Emails")

%table#emails.pure-table.pure-table-bordered
 %thead
  %th Edit
  %th Delete
  %th Email
 %tbody
 - @emails.each do |email|
  %tr
   %td= link_to 'Edit Info', edit_email_path(email), :method => :get
   %td= link_to 'Delete', email_path(email), :method => :delete
   %td= email.email_address
= link_to 'Create Email', new_email_path

