= content_for(:title, "Create New Email")


.pure-u-1
 = form_tag emails_path, :method => :post, :class => "pure-form pure-form-stacked" do
  = label :email, :email_address, 'Email'
  = email_field :email, :email_address
  = submit_tag 'Create Email', :class => "pure-button pure-button-success"

