
= content_for(:title, "Locations")

%table#locations.pure-table.pure-table-bordered
 %thead
  %th  Edit 
  %th  Delete 
  %th  Location Name 
 %tbody
 - @locations.each do |location|
  %tr
   %td= link_to 'Edit Location', edit_location_path(location), :method => :get
   %td= link_to 'Delete', location_path(location), :method => :delete
   %td= location.name
= link_to 'Create location', new_location_path
