<!doctype html>
%html{:lang => "en"}
  %head
  %meta{:charset => "utf-8"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %meta{:content => "MHMR-Troubleshooter System for ticket submission", :name => "description"}
          
  %link{:href => "http://yui.yahooapis.com/pure/0.6.0/pure-min.css", :rel => "stylesheet"}
    /[if lte IE 8]
    <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    / [if gt IE 8]><!
  %link{:href => "css/layouts/side-menu.css", :rel => "stylesheet"}
    / <![endif]

  %title= yield(:title)
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = javascript_include_tag "tickets"
  = csrf_meta_tags


  %body
    #layout
      / Menu toggle
      %a#menuLink.menu-link{:href => "#menu"}
        / Hamburger icon
        %span
      #menu
        .pure-menu
          %a.pure-menu-heading{:href => "http://www.mhmrabv.org/"}= image_tag("mhmr_logo.png", :alt => "MHMR Logo",  class:"table_button pure-img")
          %ul.pure-menu-list
            %li.pure-menu-item
              = link_to "Ticket", tickets_path, {:class => "pure-menu-link"}
            %li.pure-menu-item
              = link_to "Locations", locations_path, {:class => "pure-menu-link"}
            %li.pure-menu-item
              %a.pure-menu-link{:href => "#"} Users
            %li.pure-menu-item
              = link_to "Emails", emails_path, {:class => "pure-menu-link"}
            %li.pure-menu-item
              = link_to "Categories", categories_path, {:class => "pure-menu-link"}
            %li.pure-menu-item
              = link_to "Statuses", statuses_path, {:class => "pure-menu-link"}
      








      #main
        .header
        
          %h1= content_for?(:title) ? yield(:title) : "default title"  
            
          
          
        .content
          %div.pure-g
            %div.pure-u-md-1-24
              %div.pure-u-md-11-12.pure-u-1
                = yield
  
 


























